@page "{PPSNumber?}"
@model EntAppSecond.Pages.Students.ConfirmEnrolmentModel
@{
    ViewData["Title"] = "ConfirmEnrolment";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListStudents</title>
</head>
<body>

    <div class="row">
        <div class="col" style="border-radius:5px">
            <h3 style="padding:10px; text-align:center">Thank you for your application, details are summarised below</h3>
        </div>
    </div>


    <fieldset class="panel-body">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Student.ChildFirstNAme">Firstname</label>
                <input asp-for="Student.ChildFirstNAme" class="form-control" id="inputEmail4" placeholder="First Name">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Student.ChildSurname">Surname</label>
                <input asp-for="Student.ChildSurname" class="form-control" placeholder="Surname">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Student.PPSNumber">PPS Number</label>
                <input asp-for="Student.PPSNumber" class="form-control">
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Student.StartDate">Start Date</label>
                <br />
                <span>@Model.Student.StartDate.ToString()</span>

            </div>
            <div class="form-group col-md-6">
                <label asp-for="Student.HoursRequested">Fulltime/Partime</label>
                <br />
                @{
                    string time = "";

                    if (Model.Student.HoursRequested == 0)
                    {
                        time = "Fulltime";
                    }
                    else { time = "Partime"; }

                }
                <span>@time.ToString()</span>

            </div>
        </div>
    </fieldset>
    <div class="col-md-6" style="background-color:lavender;">
        <table class="table">
            <thead>
                <tr>
                    <th>Days to attend</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.Listdays</td>
                </tr>
            </tbody>
        </table>



    </div>
    <div class="col-md-6" style="background-color:lavenderblush;">
        <table class="table">
            <thead>
                <tr>
                    <th>Total Cost (per week)</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.TotalCost</td>
                    <td>
                        @{string fullpart = "";
                            if (Model.Student.HoursRequested == 0)
                            {
                                fullpart = "Partime rate of 20 euro/day applied";
                            }
                            else { fullpart = "Fulltime rate of 35 euro/day applied"; }
                        }
                        @fullpart.ToString()
                    </td>
                    <td>
                        @{ string disc = "";
                            if (Model.Listdays.Length > 27)
                            {
                                disc = "10% dscount applied for 4 or more days applied";
                            }
                        }
                        @disc.ToString()
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



</body>
</html>

